@import url('http://fonts.cdnfonts.com/css/atami');

html,
body {
    margin: 0;
    padding: 0;
    font-family: Atami, sans-serif;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.carousel,
.carousel-inner {
    height: 850vh;
}

.carousel-caption {
    position: relative; // i think this is what gets rid of the carousel controls?
    left: auto;
    right: auto;
    color: black;
    z-index: 10;
}

.carousel-control-next {
    z-index: 10;
    color: red; // this isn't visible atm
}
.carousel-control-prev {
    z-index: 10;
}

.carousel-column {
    height: 500px;
    width: 900px;
    margin: 0 auto;
}

// .img {
//     object-fit: cover;
//     margin: auto;
// }
